In [1]:
import re
import pandas as pd

In [2]:
data = pd.read_csv("dataset.csv")

In [3]:
data.head()
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540884 non-null  object
 3   Quantity     541909 non-null  object
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  object
 6   CustomerID   433909 non-null  object
 7   Country      541909 non-null  object
dtypes: object(8)
memory usage: 33.1+ MB

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,541909,541909,540884,541909,541909,541909,433909,541909
unique,44726,7805,7956,1059,23260,2015,8467,76
top,573585ä,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,2011-10-31 14:41:00,1.25,&nan#,United Kingdom
freq,561,1184,1699,88742,1114,40287,27080,248303

In [4]:
data.isnull().sum()
df = data.dropna(how='all')
df.drop_duplicates()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,XxYUnited Kingdom☺️
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,ö84406B^,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,&17850.0#,XxYUnited Kingdom☺️
3,536365,84029G,$KNITTED UNION FLAG HOT WATER BOTTLE,6@,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,$RED WOOLLY HOTTIE WHITE HEART.,6@,2010-12-01 08:26:00,3.39,&17850.0#,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587ä,ö22613^,PACK OF 20 SPACEBOY NAPKINS,12@,2011-12-09 12:50:00,Ww0.85,12680.0,XxYFrance☺️
541905,581587,ö22899^,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.1,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,&12680.0#,XxYFrance☺️
541907,581587ä,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,&12680.0#,XxYFrance☺️
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3@,2011-12-09 12:50:00,4.95,12680.0,France

In [5]:
df['Country'] = df['Country'].str.replace(r'[Xx]', '', regex=True)
df['Description'] = df['Description'].str.replace(r'[\^ö\$]', '', regex=True)
df['StockCode'] = df['StockCode'].str.replace(r'[\^\ö]', '', regex=True)
df['Quantity'] = df['Quantity'].str.replace(r'[@]', '', regex=True)

In [11]:
df['CustomerID'] = df['CustomerID'].str.replace(r'[# &]', '', regex=True)
df['UnitPrice'] = df['UnitPrice'].str.replace(r'[Ww]', '', regex=True)
emoji_pattern = re.compile(
    "["
    u"\U0001F600-\U0001F64F"  
    u"\U0001F300-\U0001F5FF"  
    u"\U0001F680-\U0001F6FF"  
    u"\U0001F1E0-\U0001F1FF"  
    u"\U00002702-\U000027B0"
    u"\U000024C2-\U0001F251"
    "]+",
    flags=re.UNICODE,
)

df['Country'] = df['Country'].str.replace(emoji_pattern, '', regex=True)
df['Country'] = df['Country'].str.replace(r'[Xx]', '', regex=True)
df['Country'] = df['Country'].str.replace(r'[Y]', '', regex=True)
df['InvoiceNo'] = df['InvoiceNo'].str.replace(r'[ä]', '', regex=True)

In [12]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.1,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [13]:
df.to_csv('cleaned.csv', index=False)